* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  height: 100%;
  margin: 0px;
}

body {
  font-family: sans-serif;
  margin: auto;
  background-color: #50b9ff;
  text-align: center;
  max-width: 22rem;
}

.heading {
  color: white;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.heading--title {
  margin-block-end: auto;
}

.heading--desc {
  font-style: italic;
  margin-block-start: auto;
  font-family: serif;
}

.description {
  font-style: italic;
  color: #9c1458;
}

.description--highlight {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.title ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.title--container {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.title--box {
  width: 5rem;
}

.title-menu {
  float: left;
}

.title-menu--hr {
  display: block;
  unicode-bidi: isolate;
  margin-block-start: 0rem;
  margin-block-end: 0rem;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  overflow: hidden;
  border-style: unset;
  border-width: 0px;
}

.title-menu--icon {
  font-size: 2rem;
  line-height: 1.2rem;
}

.menu--separator {
  font-size: x-large;
  font-family: system-ui;
  font-weight: bold;
  letter-spacing: 5px;
  margin-top: 1rem;
}

.hidden {
  display: none;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn.btn--complete {
  background-color: #f8dae9;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.content {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 0.5rem 1rem;
  border-width: 0.5px;
  border-color: grey;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.content--row {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.game--container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}

.game--box {
  flex-grow: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  z-index: 10;

  top: 50%;
  transform: translateY(-50%);
  position: fixed;
}

.game-over {
  margin-left: 0px;
  width: 19.4rem;
  margin-right: 1.3rem;
}

.menu {
  margin-left: 0px;
  max-width: 21.4rem;
  margin-right: 0.3rem;
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.letter {
  background-color: white;
  border-radius: 4px;
  border-color: grey;
  border-width: 0.5px;
  border-style: outset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  min-width: 2.5rem;
  min-height: 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
}

.letter--keyboard {
  min-width: 1.5rem;
  min-height: 1.5rem;
}

.letter--correct {
  background-color: rgb(159, 226, 133);
}

.letter--exist {
  background-color: rgb(243, 231, 124);
}

.letter--wrong {
  background-color: rgb(172, 172, 172);
}

.word--container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 0.5rem;
}

.word--mispelled {
  color: red;
  border-color: red;
  border-width: 2px;
  border-style: solid;
}

ul {
  list-style-type: none;
}

.letter--container {
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}

.letter-list {
  padding: 0.2rem;
  text-align: center;
  width: 100%;
}

.letter-list--keyboard {
  padding: 0.1rem;
}

.letter-list h2 {
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: auto;
  margin-block-end: auto;
}

.letter-list p {
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: auto;
  margin-block-end: auto;
}

.letter--container {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  height: 100%;
}

.keyboard {
  width: 100%;
  min-height: 2.5rem;
  font-size: large;
  text-transform: uppercase;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  border-width: thin;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%), 0 0 2px #383838;
  border: thin;
}

.button--keyboard {
  width: 100%;
  border-width: 0.5px;
  border-color: grey;
  border-radius: 4px;
  font-size: larger;
  font-family: sans-serif;
  padding: 8px 5px;
}

.keyboard::placeholder {
  text-transform: none;
}

.keyboard--container {
  padding: 0.2rem;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.share {
  font-weight: bold;
}

.share--container {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
}

.share--button {
  display: block;
  height: 2.5rem;
  padding: 0.1rem 1rem;
}

.share--come-back {
  font-weight: bold;
  letter-spacing: 0.5px;
}

.share--confirm {
  margin-top: 0.5rem;
}

.tutorial--list {
  padding: 0.5rem 3rem;
}

.tutorial--list li {
  text-align: left;
  list-style-type: circle;
}

.tutorial--color {
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.tutorial--color-green {
  background-color: rgb(159, 226, 133);
}

.tutorial--color-yellow {
  background-color: rgb(243, 231, 124);
}

.tutorial--color-gray {
  background-color: rgb(172, 172, 172);
}

.alert--not-found {
  color: #9c1458;
  font-weight: bold;
  font-style: italic;
}

.alert--not-found--icon {
  font-style: normal;
  text-shadow: -0.5px -0.5px 0 #000, 0.5px -0.5px 0 #000, -0.5px 0.5px 0 #000,
    0.5px 0.5px 0 #000;
  line-height: 0rem;
  font-size: large;
}

.nav-list {
  display: flex;
}

p,
a {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}
