* {
  box-sizing: border-box;
}

html,
body,
main,
#root {
  height: 100%;
  margin: 0px;
}

body {
  font-family: sans-serif;
  margin: auto;
  background-color: #50b9ff;
  text-align: center;
  max-width: 22rem;
}

.title {
  color: white;
  margin: auto;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.title h1 {
  margin-block-end: auto;
}

.title h2 {
  font-style: italic;
  margin-block-start: auto;
  font-family: serif;
}

.description {
  font-style: italic;
  color: #9c1458;
}

.description--highlight {
  text-decoration-line: underline;
  text-decoration-style: dotted;
}

.title ul {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.title--container {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  padding-inline-start: 0px;
}

.title--box {
  width: 5rem;
}

.btn {
  font: inherit;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border-radius: 4px;
  background-color: #800040;
  color: white;
  border: 1px solid #800040;
  margin: 0 1rem;
}

.btn.btn--complete {
  background-color: #f8dae9;
}

.btn:hover {
  background-color: #9c1458;
  border-color: #9c1458;
}

.btn--alt {
  background-color: transparent;
  color: #800040;
}

.btn--alt:hover {
  background-color: #f8dae9;
}

.content {
  background: #e8e8e8;
  border-radius: 4px;
  padding: 0.5rem 1rem;
}

.content--row {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}

.game--container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}

.game--box {
  flex-grow: 0;
}

main {
  display: flex;
  flex-direction: column;
  padding: 0.3rem;
}

.actions {
  text-align: right;
}

.modal {
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  text-align: center;
  width: 30rem;
  z-index: 10;
  position: fixed;
  top: 20vh;
  left: calc(50% - 15rem);
}

.backdrop {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.letter {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  min-width: 2.5rem;
  min-height: 2.5rem;
  width: 100%;
  height: 100%;
  display: flex;
}

.letter--correct {
  background-color: rgb(159, 226, 133);
}

.letter--exist {
  background-color: rgb(243, 231, 124);
}

.word--container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding-top: 0.5rem;
}

.letter--container {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: space-evenly;
  padding-inline-start: 0px;
}

.letter-list {
  padding: 0.2rem;
  text-align: center;
  width: 100%;
}

.letter-list h2 {
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: auto;
  margin-block-end: auto;
}

.letter--container {
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  height: 100%;
}

.keyboard {
  width: 100%;
  min-height: 2.5rem;
  font-size: large;
  text-transform: uppercase;
  margin-block-start: 0.5rem;
  text-align: center;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%);
  border-width: thin;
  box-shadow: 0 1px 4px rgb(0 0 0 / 20%), 0 0 2px #383838;
  border: thin;
}

.keyboard::placeholder {
  text-transform: none;
}

.keyboard--container {
  padding: 0.2rem;
}

.share {
  font-weight: bold;
}

.share--container {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  justify-content: center;
  padding-inline-start: 0px;
}

.share--button {
  display: block;
  height: 2.5rem;
  padding: 0.5rem 1rem;
}

p,
a {
  margin-block-start: 0.5rem;
  margin-block-end: 0.5rem;
}
